[Unit]
Description=Telegraf - The plugin-driven server agent for collecting and reporting metrics
Documentation=https://github.com/influxdata/telegraf
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=telegraf
Group=telegraf
ExecStart=/usr/local/bin/telegraf -config {{ telegraf_config_dir }}/telegraf.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=telegraf
KillMode=process

[Install]
WantedBy=multi-user.target
